<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">

    <title>MailFocus Dashboard</title>
</head>

<body>
    <h1>MailFocus</h1>

    <p>Your emails, sorted by priority.</p>

    {% for email in emails%}
        <div>
            <h2>{{ email["subject"] }}</h2>

            <p>
                <strong>From:</strong>
                {{ email["sender"] }}
            </p>

            <p>
                <strong>Priority</strong>
                {{ email["priority"] }}
            </p>
            
            <p>
                <strong>Status:</strong>
                {{ email["status"] }}
            </p>
            <hr>
        </div>
    {% endfor %}
</body>

</html>